<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>lifeServlet</servlet-name>
		<servlet-class>web.LifeServlet</servlet-class>
		<!-- 
			配置初始化參數:
		 -->
		<init-param>
			<param-name>company</param-name>
			<param-value>達內</param-value>
		</init-param>
		<!-- 
			配置啟動加載:
				容器啟動之後,會立即創建實例.
				注:
					值為大於等於零的整數,越小,優先級越高(即先被創建).
		 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lifeServlet</servlet-name>
		<url-pattern>/life</url-pattern>
	</servlet-mapping>
</web-app>